$("#apparat-permit-user-<%= @apparats_permit.id %>").remove();
$("select#user").prepend($('<option value="<%= @apparats_permit.user.id %>"><%= @apparats_permit.user.name %></option>'));
$("select#user :first").prop("selected", "selected");
if ($(".append-user-form select#user option").size() == 0) {
  $(".append-user-form").hide();
} else {
  $(".append-user-form").html("<%= j(render "apparats/append_user_form") %>");
  $(".append-user-form").show();
}

$(".user-buttons span#notice")
  .html("Дозвіл видалено.")
  .fadeIn()
  .delay(1000)
  .fadeOut();
