<h1>users#index</h1>
<%- if current_user %> 
  <p>You logged as <strong><%= current_user.name %></strong> </p>
<% end -%>
<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Current IP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td>
            <% if user.admin %>
              <strong>Administrator</strong>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
