<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Ім'я</th>
        <th>Пошта</th>
        <th>Останній IP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td>
            <% if user.admin %>
              <strong>Адміністратор</strong>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
