<div class="container">

  <div class="starter-template">
    <h1>home#index</h1>                                                                                                                                                                                                                                             </div><!-- /.container -->
  </div>
</div><!-- /.container -->

