<div id="contacts-list-item-<%= contact.id %>">
  <div class="col-md-5 col-sm-5">
    <%= link_to contact.name, company_contact_path(contact.company, contact) %>
  </div>
  <div class="col-md-5 col-sm-5">
    <%= contact.phone %>
  </div>
  <div class="col-md-2 col-sm-2">
    <% if policy(@apparat).remove_contact? %>
      <%= link_to "x",
          remove_contact_apparat_path(@apparat, contact_id: contact.id),
          class: "remove-contact-from-list btn btn-xs btn-danger",
          remote: true,
          method: :patch,
          data: { confirm: "Дійсно відкріпити контакт?", id: "#{contact.id}" }
      %>
    <% end %>
  </div>
</div>
