<div class="main-page">
  <div class="information">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4-">
          <h2>Ім'я</h2>
          <div class="whitebox"><%= @contact.name %></div>
        </div>
        <div class="col-md-4 col-sm-4-">
          <h2>Телефон</h2>
          <div class="whitebox"><%= @contact.phone %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4-">
          <h2>Пошта</h2>
          <div class="whitebox"><%= @contact.email %></div>
        </div>
        <div class="col-md-4 col-sm-4-">
          <h2>Skype</h2>
          <div class="whitebox"><%= @contact.skype %></div>
        </div>
      </div>
      <% if @contact.default %>
        <h2>Основний контакт</h2>
      <% end %>
    </div>
  </div>
</div>

