# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bb95258e38a545ce4a5ddae5bb21a94a40f0fba9dc64e803c07e1f6b728358943b6e9f44b3dc5dd1b2ee4405d5cea69b37b7efa93614975a528b7f227098200f

test:
  secret_key_base: ca579c75e6d958e27bf631cf1a1f73b78c58125b9eea0b8f38a17296b7fe6dfd3071ad6cd414f6e18c8ec94b7695c79a999fd4fb6d021d7f9eaf9d88ee4394d6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
