<% if current_user.admin? %>
  <h2>Інженери:</h2>
  <ul>
    <% @company.users.each do |user| %>
      <li>
        <%= link_to user.name, user %> 
        <%= user.companies_permits.find_by(company: @company).role %>
      </li>
    <% end %>
  </ul>
<% end %>
