<% if current_user.admin? %>
  <tr>
    <td class="col-md-1"><strong>Інженери: </strong></td>
    <td>
      <% @company.users.each do |user| %>
        <%= link_to user.name, user %> 
        <%= user.companies_permits.find_by(company: @company).role %>
      <% end %>
    </td>
  </tr>
<% end %>
