<div class="container">
  <% if current_user.admin? %>
    <%= link_to "Нова Компанія", new_company_path, class: "btn btn-default new-record" %>
  <% end %>

    <% @companies.map do |company| %>
      <div class="list-item">
        <%= link_to edit_company_path(company) do %>
          <div class="row list-item-header">
            <span class="col-md-2 col-sm-2 text-center">
              <%= company.name %>
            </span>
            <p>
              <%= company.description %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
