<div class="container text-center">
  <% if current_user.admin? %>
    <%= link_to "Нова Компанія", new_company_path, class: "btn btn-default new-record" %>
  <% end %>

  <%= render @companies %>
</div>
