<div class="main-page">
  <div class="information">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4-">
          <h2>Назва:</h2>
          <div class="whitebox"><%= @company.name %></div>
        </div>
        <div class="col-md-4 col-sm-4-">
          <h2>Телефон:</h2>
          <div class="whitebox"><%= @company.phone %></div>
        </div>
      </div>
      <div><%= render "contacts" %></div>
      <h2>Опис:</h2>
      <div class="whitebox"><%= simple_format(@company.description) %></div>
    </div>
  </div>
</div>
