<h2>Контакти:</h2>
<div class="contact-buttons">
  <%= link_to "Перегляд", "#", class: "btn btn-default", id: "show-contacts-list" %>
  <span id="notice" class="ajax-alert"></span>
</div>
<div id="contacts-list" class="row">
  <div class="list-items">
    <%= render @apparat.contacts %>
  </div>
  <div class="col-md-12 col-sm-12 text-left">
    <div class="append-contact-form">
      <%= render "contact_selection" %>
    </div>
  </div>
</div>
