<h2>Контакти:</h2>
<div class="contact-buttons">
  <%= link_to "Перегляд", "#", class: "btn btn-default", id: "show-contacts-list" %>
</div>
<div id="contacts-list" class="row">
  <%= render @apparat.contacts %>
  <% if policy(@apparat).add_contact? and !@apparat.not_added_contacts.empty? %>
    <div class="col-md-6 col-sm-6 text-left">
      <%= render "contact_selection" %>
    </div>
  <% end %>
</div>
