<% if @apparat.errors.any? %>
  <div class="alert alert-danger text-left">
    The form contains <%= pluralize(@apparat.errors.count, "error") %>.
    <ul>
      <% @apparat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
