<div class="form">
  <%= form_tag update_description_apparat_path(@apparat), method: :patch do %>
    <div class="form_group">
      <%= text_area_tag :description, nil, class: "form-control" %><br>
      <%= submit_tag "Добавити опис", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>

