<h2>Закріплені інженери</h2>
<%= link_to "Перегляд", "#", class: "show-users-list btn btn-default" %>
<div class="users-list row">
  <div class="apparat-permits-users-list">
  <%= render @permits %>
  </div>

  <div class="append-user-form">
    <%= render "append_user_form" %>
  </div>
</div>
