.contact-buttons {
  padding: 5px 0;
}

.append-contact-form {
  display: inline-block;
}

.ajax-alert {
  background-color: #dff0d8;
  padding: 10px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #d6e9c6;
  display: none;
}

.list-item {
  text-align: left;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 20px 0 20px 0;

  &:hover {
    background-color: #efefef;
  }

  a {
    color: #333;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }

  .list-item-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  p {
    font-size: 14px;
    padding: 5px 0 5px 0;
  }
}

