/* Navigation */

#current-user-name {
  color: white;
  padding-top: 15px;
}

/* Notidications */

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* Body */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  font-size: 18px;
    font-weight: bold;
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
  }

.grey-back {
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2f2f2;
  padding: 15px;
  margin: 0 0 15px 0;
}

/* Apparats */
.apparat-list-item {
  text-align: left;
  border-style: solid;
  border-width: 0 0 1px 0;

  &:hover {
    background-color: #efefef;
  }

  a {
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }

  .list-item-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  p {
    font-size: 14px;
  }
}

.apparat-main-page {
  .apparat-information {
    background-color: #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;

    
    .whitebox {
      display: block;
      background-color: white;
      width: 100%;
      min-height: 2em;
    }

    .description {
      padding: 1em 2em;
      border: 1px solid #333;
    }
  }
}
