<div id="flash-message">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <p class="text-center"> <%= message %> </p>
    </div>
  <% end %>
</div>
