<div id="flash-message" class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <div class="text-center"> <%= message %> </div>
    </div>
  <% end %>
</div>
