  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> <%= message_type %>-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <div class="text-center"> <%= message %> </div>
    </div>
  <% end %>
